parameters:
	excludes_analyse:
		- %rootDir%/../../../src/Migrations/*
	ignoreErrors:
		- '#Call to an undefined method [a-zA-Z0-9\\_]+::findOneBy[A-Z][a-zA-Z]*\(\)#'
		- '#Call to an undefined method [a-zA-Z0-9\\_]+::findBy[A-Z][a-zA-Z]*\(\)#'
		- 'Function newrelic_name_transaction not found'