<h3 class="control-sidebar-heading">Navigation</h3>
<form method="get">
    <label class="control-sidebar-subheading">
        Start
        <input type="text" class="form-control datetimepicker" name="start" value="{{ start }}">
    </label>

    <label class="control-sidebar-subheading">
        End
        <input type="text" class="form-control datetimepicker" name="end" value="{{ end }}">
    </label>

    <input type="submit" class="btn btn-primary" value="Update">
</form>