{% extends 'base-adminlte.html.twig' %}

{% block title %}Fireping - dashboard{% endblock %}

{% block page_title %}Dashboard{% endblock %}
{% block page_subtitle %}{% endblock %}

{% block page_content %}

    {% if firstLaunch %}
        <div class="alert alert-info">
            It seems you are running fireping for the first time. Would you like to add some default objects to the configuration ?<br/><br/>
            These options include:
            <ul>
                <li>An "admin" user (with initial password "admin")</li>
                <li>A "slave" user (with initial password "password")</li>
                <li>A domain "Google"</li>
                <li>A device "www.google.be"</li>
                <li>A ping probe with default archive for 24 hours of data</li>
                <li>A traceroute probe with default archive for 24 hours of data</li>
                <li>A http probe with default archive for 24 hours of data</li>
            </ul>
            <br/>
            <a href="{{ path('database-init') }}">Yes, add default configuration</a>
        </div>
    {% endif %}

    <div class="row">
        <div class="col-md-3">
            {% embed '@AdminLTE/Widgets/infobox-widget.html.twig'  with {
                'color' : 'green',
                'icon'  : 'fa fa-microchip',
            }%}
                {% block box_text %}Online slaves{% endblock %}
                {% block box_number %}{{ onlineSlaves }}{% endblock %}
                {% block progress_description %}{% endblock %}
            {% endembed %}
        </div>

        <div class="col-md-3">
            {% embed '@AdminLTE/Widgets/infobox-widget.html.twig'  with {
                'color' : 'green',
                'icon'  : 'fa fa-bullseye',
            }%}
                {% block box_text %}Online targets{% endblock %}
                {% block box_number %}0{% endblock %}
                {% block progress_description %}{% endblock %}
            {% endembed %}
        </div>

        <div class="col-md-3">
            {% embed '@AdminLTE/Widgets/infobox-widget.html.twig'  with {
                'color' : 'aqua',
                'icon'  : 'fa fa-hdd-o',
            }%}
                {% block box_text %}Storage nodes{% endblock %}
                {% block box_number %}{{ storageNodes|length }}{% endblock %}
                {% block progress_description %}{% endblock %}
            {% endembed %}
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            {% embed '@AdminLTE/Widgets/infobox-widget.html.twig'  with {
                'color' : 'red',
                'icon'  : 'fa fa-microchip',
            }%}
                {% block box_text %}Offline slaves{% endblock %}
                {% block box_number %}{{ offlineSlaves }}{% endblock %}
                {% block progress_description %}{% endblock %}
            {% endembed %}
        </div>

        <div class="col-md-3">
            {% embed '@AdminLTE/Widgets/infobox-widget.html.twig'  with {
                'color' : 'red',
                'icon'  : 'fa fa-bullseye',
            }%}
                {% block box_text %}Offline targets{% endblock %}
                {% block box_number %}0{% endblock %}
                {% block progress_description %}{% endblock %}
            {% endembed %}
        </div>
    </div>
{% endblock %}
